.frequency {
  display: flex;
  align-items: center;
  .divider {
    margin: 0 5px;
  }
}
.create-habit-form {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 600px;
  margin: 0 auto;
}
form {
  padding: 1rem;
  margin: auto;
}

.create-habit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
