.habit-details {
    padding: 1rem;
    margin-left: 2rem;
}

.active-field {
    display: flex;
    mat-slide-toggle {
        margin-left: 1rem;
    }
}

.mdc-button:enabled {
  background-color: purple !important;
  color: white;
}

.edit-delete {
  padding-top: 2rem;
  display: flex;
  padding-bottom: 2rem;

  :nth-child(2) {
    margin-left: 1rem;
  }
}
