<div class="table-container">
  <h2>Habit List</h2>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Habit Name</th>
      <td mat-cell *matCellDef="let habit">
        <a [routerLink]="['/habit', habit.id]">{{ habit.name }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let habit">
        {{ habit.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="frequency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Frequency</th>
      <td mat-cell *matCellDef="let habit">
        {{ habit.frequency }} per {{ habit.frequencyUnit }}
      </td>
    </ng-container>

   <ng-container matColumnDef="totalCompleted">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <div class="header-content">Total Completed</div>
  </th>
  <td mat-cell *matCellDef="let habit" class="centered">
    {{ habit.totalCompleted }}
  </td>
</ng-container>

<ng-container matColumnDef="streak">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <div class="header-content">Streak</div>
  </th>
  <td mat-cell *matCellDef="let habit" class="centered">
    {{ habit.streak }}
  </td>
</ng-container>

<ng-container matColumnDef="active">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    <div class="header-content">Active</div>
  </th>
  <td mat-cell *matCellDef="let habit" class="centered">
    {{ habit.isActive ? "Yes" : "No" }}
  </td>
</ng-container>

    <thead>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    </thead>
    <tbody>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </tbody>
  </table>
  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
</div>


