nav {
  padding: 1rem;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;

  a {
    margin: 4px;
    padding: 10px;
    list-style: none;
    pointer-events: auto;
  }
}
a.active {
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
header {
  display: flex;
}
h1 {
  padding: 1rem;
  margin-left: 2rem;
}

